
body{
  background: #ffffff;
}
/* アイコンなどの設定 */
.top{
    margin-left: 3%;
    margin-bottom: 1%;

    color: #5e6286;
}

/* ファイル */
.file_buttons{
    margin: 5px;
}
.image_box {
    padding-left: 8%;
}
/* 未選択時のアイコン */
.img_icon {
    font-size: 12px;
    margin: 0 10px 0 15px;
    padding: 3px 30px;
    border-radius: 15px;
    background: #666;
    color: #fff;
    display: inline-block;
}
.audio_icon {
    font-size: 12px;
    margin: 0 10px 0 15px;
    padding: 3px 30px;
    border-radius: 15px;
    background: #666;
    color: #fff;
    display: inline-block;
}
.video_icon {
    font-size: 12px;
    margin: 0 10px 0 15px;
    padding: 3px 30px;
    border-radius: 15px;
    background: #666;
    color: #fff;
    display: inline-block;
}
/* 選択時のアイコン */
.img_icon.select {
    background: #f44336;
    color: #fff;
}
.audio_icon.select {
    background: #f44336;
    color: #fff;
}
.video_icon.select {
    background: #DE4020;
    color: #fff;
}
/* ファイル名 */
.filename {
    color: #666;
    display: inline-block;
    font-size: 20px;
}
.mdl-button__ripple-container{
    margin:5%; 
}
#upload{
    display: flex;
    justify-content: center;
    align-items: center;
}


/* カード */
.post_box{
    color: #5d627b;
    background: white;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
   
    margin: 0; 
    padding-top: 20px;
}

/* 切手 */
.stamp_box{
    margin-left: 10%;
}
.stamp{
    width: 150px;
    height: 235px;
}

/* テキストエリア */
.contents_box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.text_box{
    margin-top: 1%;
}
.top_text{
    font-size: 25px;
    margin-left: 10%;
}
.mdl-textfield__input{
    height: 180px;
    max-width: 100%;
}


.mdl-card__actions{
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;

}